# ignore ALL .log files
# *.log

# ignore ALL files in ANY directory named temp

vgg16_netvlad_checkpoint/
Mar10_20-05-33_vgg16_netvlad/
Mar15_22-45-19_vgg16_netvlad/
Mar16_20-16-18_vgg16_netvlad/
Mar17_05-05-36_vgg16_netvlad/
Mar22_00-42-44_vgg16_netvlad/
Feb16_06-18-01_vgg16_netvlad/
Mar24_13-36-22_vgg16_netvlad/
